.granContenedor{
    width: 100vw;
    height: 100vh;    
    display:flex;
    flex-direction: row;  
}

.parteIzquierdaPerfilPrincipal{    
    width:11%;
    min-width: 100px;
    height: inherit;  

}

.parteIzquierdaPerfilPrincipal_contenedorIconos{
    position:sticky;
    display:flex;
    align-items: flex-end;   
    flex-direction: column;    
    min-width:48px;
    padding: 3px 25px ;
    height:80vh ;
    top: 0;   
}

.parteIzquierdaPerfilPrincipal_contenedorIconos_Icono{
    height: 45px;
    width:45px;
    padding: 20px 0;
}


.iconoAve svg {
    fill: #00acee;
  }

.menu{
  
  width: 11%;
  
}

.central{
    border-width: 2px;  
    border-right-style:  solid;  
    border-left-style:  solid;
    border-color:#e6e6e6;
    width: 62%; 
    display:flex;  
    flex-direction: column;   

}

.lateral{
    width: 37%;
    display: flex;
    flex-direction: column;
}

.cabezote{
    border-bottom-style:  solid;
    border-color:#e6e6e6;
    height: 80px;
    padding:10px;
    display:flex;
    align-items: center;
    text-overflow: ellipsis;
}

.cabezoteItem{
    padding:1em;
}

.nombre{
    font-size:36px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
    font-weight: bold;
    text-overflow: ellipsis;
}
.numeroTweets{
    font-size:24px;
    color:#606060;
    text-overflow: ellipsis;
}

.imagen{
    width: 100%;
}

.descripcion{
    position: relative;    
    width: 100%;
   height: 18vh;
   
}

.nombreDescripcion{
    font-size:36px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
    font-weight: bold;
    text-overflow: ellipsis;
    padding-left:5%;
}

.editarPerfil{
    font-size:24px;
    text-decoration: none;
    position:absolute;
    right:5%;
    top:5%;
    border-style: solid;
    padding:0.8em;
    border-radius: 25px;
    color:#00acee;
    border-color:#00acee;
    font-weight: bold;
}


.alias{
    font-size:30px;
    color:#606060;
    text-overflow: ellipsis;
    padding-left:5%;
    
}

.leyenda{
    font-size:30px;   
    text-overflow: ellipsis;
    margin-top:1%;
    margin-left:5%;

}
.navegador{
    list-style:none;
    display:flex;
    justify-content: flex-start ;
    border-bottom-style:  solid;
    border-color:#e6e6e6;
    margin-left: 0%;
    overflow: hidden;
}

.navegador a{
    font-size:30px;
    color:grey;
    flex-grow: 1;
    font-weight: bold;
    padding:0.5em;
    text-align: center;
    text-decoration: none;
}
 .navegador .activo{
      
    border-bottom-style: solid;
    border-bottom-color:#00acee ;
    color:#00acee ;
}

.contenedorImagen{
    position:relative;       
    border-radius: 50%;
    max-width: 24vh;
    max-height: 24vh;
    border-width: 1px ;
    border-style: solid;
    border-width: 5px;
    border-color:white;
    overflow: hidden;
    top:-70%;
    left:5%;
}


.perfil  {
    width: 100%;
    height: auto;
   
   
  }


  .tweet{
      min-height: 15px;
      border-bottom-style: solid;
      border-bottom-color:#e6e6e6 ;
      display:flex;
      
  }

  .espacioFoto{
      position: relative;
  }

.contenedorPequeno{
    position:relative;
    max-width: 10vh;
    max-height: 10vh;
    border-radius:50%;   
    margin:0.5em;
   overflow: hidden;
   
    
    
}


.perfilFotoTweet{
    width: 100%;
    height: auto;
  }

  .descripcion1{
   display:flex;
   flex-direction: column;
}
  .nombres1{
      display:flex;
      margin-top: 1%;
  }

   .letraPequena{
    font-size:32px;
   
  }

 
  .minutos{
    text-align: center;
   
   
  }
  
.puntocentral{
    top:-50%;
}
.textoTweet{
    padding:5%;
    font-size:25px;
    width: 100%;
    text-overflow: fade;
}

.primerElemento{
    display:flex;
    justify-content: left;
    margin-left:5%;
    margin-top:5%;
   
}

.elemento{
    flex-shrink:1;
}

input[type=text] {
    min-height: 45px;
    font-size: 20px;
    border: none;
    border-radius: 20px;
    width: 70%;
    background-color:#F0F0F0;
    padding:1%;
  }

  input:focus {
    outline: none !important;
    border:1px solid #00acee;
   
}
.imagenesGrid{
    margin:5%;
    display:grid;
    grid-template-columns: repeat(3,minmax(100px, 293px));   
    grid-gap:2px;
    border-radius: 10%;
    overflow: hidden;
    justify-content: center;
}

.elementoGrilla {
    width: 100%;
    justify-self: center;    
    overflow: hidden;
   
}

.claseImagen{
    width: 100%;
    height: 100%;    
    vertical-align: top;
}

.material-icons.md-36 { font-size: 36px; }
.material-icons.blue600 { color:#00acee; }

